.button_component {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  height: 70px;
  width: 100%;
  background-color: rgb(20, 20, 98);
  color: rgb(69, 69, 170);
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
}
