.sympson_card {
    display: flex;
    flex-direction: column;
     gap: 15px;
  width: 400px;
  height: fit-content;
  border: 2px solid black;
  padding: 40px;
  margin: 30px;
  border-radius: 8px;
  background-color: rgb(239, 232, 232);

}
.avatar_sympson {
   width: 150px;
  height: 150px;
  border-radius: 50%; 
  background-color:rgb(125, 125, 202)
}
.card_info {
 font-size: 24px;
 color: black;
}


    
